*{
    margin: 0px;
    padding: 0px;
}

#calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.numeros{
    margin: 5px;
}

.numeros > button{
    padding: 16px;
   

}

#mostrarNumeros{

    padding-top: 10%;
}

#exibirNumeros{

    padding: 8px;
    

}

